<div class='wrapper'>
  <form>
    <input type="search" name="email">
  </form>
  <% if @user %>
    <%= @user.email %>
    <% if @user.is_pro %>
      <small>(pro)</small>:
    <% end %>
    <% @user.sites.each do |site| %>
      <%= site.subdomain %> | <%= site.domain %>
    <% end %>
  <% end %>
  <h2><%= @sites.length %> New Sites</h2>
  <% @sites.each do |site| %>
    <a href='http://<%= site.link %>'>http://<%= site.link %></a> - <%= site.creator.email %><br>
  <% end %>
  <h2>Popular Sites</h2>
  <% @popular_sites.each do |site| %>
    <a href='http://<%= site.link %>'>http://<%= site.link %></a> - <%= site.creator.email %> - <%= site.clicks_today.count %> clicks<br>
  <% end %>
  <h2>Stats</h2>
  <strong>Total Revenue: </strong> $<%= @revenue %><br>
  <strong>% Pro users since launch: </strong><%= @pct_new_pro %><br>
  <strong>Num users: </strong><%= @num_users %><br>
  <strong>Num paying users: </strong><%= @paying_users %>
  <script src='https://code.highcharts.com/highcharts.js'></script>
  <%= render "chart", data: @daily_revenue.to_json.html_safe, title: "Revenue", el: 'daily-revenue'%>
  <%= render "chart", data: @users.to_json.html_safe, title: "Users", el: 'container'%>
  <%= render "chart", data: @pct_pro.to_json.html_safe, title: "% Pro", el: 'percent_pro'%>
</div>
