<div class='wrapper'>
  <%= Click.all.count %> requests served, and counting.
  <%= @users.inspect %>
  <h2><%= @sites.length %> New Sites</h2>
  <% @sites.each do |site| %>
    <a href='http://<%= site.link %>'>http://<%= site.link %></a> - <%= site.creator.email %><br>
  <% end %>
  <h2>Popular Sites</h2>
  <% @popular_sites.each do |site| %>
    <a href='http://<%= site.link %>'>http://<%= site.link %></a> - <%= site.creator.email %> - <%= site.clicks_today.count %> clicks<br>
  <% end %>
  <h2>Stats</h2>
  <strong>Total Revenue: </strong> $<%= @revenue %><br>
  <strong>Average time it takes to go pro: </strong> <%= distance_of_time_in_words @avg_pro_time %><br>
  <strong>Mean time it takes to go pro: </strong> <%= distance_of_time_in_words @mean_pro_time %><br>
  <strong>% Pro users: </strong><%= @pct_pro %><br>
  <strong>% Pro users since launch: </strong><%= @pct_new_pro %><br>
  <strong>Num users: </strong><%= @num_users %><br>
  <strong>Num paying users: </strong><%= @paying_users %>
<div id="container" style="height: 400px; min-width: 310px"></div>
  <script src='http://code.highcharts.com/stock/highstock.js'></script>
  <script>
    Highcharts.stockChart('container', {
	  rangeSelector: {
	      selected: 1
	  },
	  title: {
	      text: 'AAPL Stock Price'
	  },
	  series: [{
	      name: 'New Users',
	      data: <%= @users.to_json.html_safe %>,
	      tooltip: {
		  valueDecimals: 0
	      }
	  }]
      });
  </script>
</div>
