<% if session['access_token'] %>
  <div class='wrapper'>
    <% if notice %>
    <div class='notice'>
      <%=  notice.html_safe %>
    </div>
    <% end %>
      <div class='sites'>
	<% if @sites.length < 5 %>
	  <div class='cf'>
	    <div class='left'>
	      <a href='<%= new_site_path %>' class='site-new btn-create'><i class="fa fa-plus-circle"></i> Create New Site (<%= 5 - @sites.length %> left)</a>
	    </div>
	  </div>
	<% end %>
    <% if @sites.length != 0 %>
      <h2>Your Sites:</h2>
    <ul>
	<% @sites.each do |s| %>
	  <li class='cf'>

	  <div class='left'><%= link_to s.name, site_path( s ) %> </div> <div class='right'> <%= link_to 'Edit Site', edit_site_path( s ), :class => 'btn-edit' %> <%= link_to 'Delete Site', site_path( s ), :class=> 'btn-delete', method: :delete %> </div>
	  </li>
	<% end %>
      </ul>
    <% end %>
    </div>
  </div>

  <% else %>

  <div class='wrapper index'>
    <h2>Real.</h2>
    <h2>Simple.</h2>
    <h2>Hosting.</h2>
    <a href='/auth/dropbox' class='dropbox'><span class='fa fa-dropbox'></span> Log In with DropBox</a>
  </div>
  <% end %>
