<div class='wrapper'>
  <div class='cf'>
  <div class='left'>
    <%= render 'create' %>
  </div>
  <div class='right'>
    <a href='<%= edit_site_path( @site ) %>' class='btn-edit'><i class="fa fa-gears"></i> Settings</a>

</div>
</div>

<h2 class='site-title'><a href='http://<%= @site.link %>'><%= @site.name %> <small><i class="fa fa-external-link"></i> </small></a></h2>

  <small>Created at <time><%= @site.created_at.strftime("%B %d, %Y") %></time></small>

<br>

<h3>Instructions</h3>
<ol>
  <li>Add your site to your Dropbox folder in <strong>~/Dropbox/Apps/updog/<%= @site.name %></strong></li>
    <li><a href='//<%= @site.link %>'> View Site </a></li>
</ol>
</div>
