<!DOCTYPE html>
<html>
<head>
  <title>Updog - Free Hosting Powered by Dropbox</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="description" content="Updog is a static website host, powered by the Dropbox API.">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:image" content="https://updog.co/logo.png" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name='description'content='Free static site hosting, powered by Dropbox'>
  <meta name='viewport' content='width=device-width'>
  <link rel="shortcut icon" href="/favicon-updog.ico">
</head>
<body>
  <header>
  <div class='wrapper'>
  <h1><a href='/'><span>&#10145;</span> UpDog</a></h1>
  <nav>
  <a href='/news'>News</a>
  <a href='/contact'>Contact Us</a>
  <a href='/pricing'>Pricing</a>
    <% if session[:user_name] %>
	<%= link_to 'Logout &nbsp;'.html_safe + session[:user_name], '/logout' %>
    <% else %>
      <a href='http://updog.co/auth/dropbox'>Log in</a>
    <% end %>
  </nav>
</div>
</header>

<section class='main'>
<div class='wrapper'>
  <% if notice %>
  <div class='notice'>
    <%=  notice.html_safe %>
  </div>
  <% end %>
</div>
    <%= yield %>
</section>

<footer>
  <div class='wrapper'>
   &copy; UpDog <%= DateTime.now.strftime("%Y") %> | 
   <%= link_to "View Source", '/source' %> | 
   <a href='https://docs.google.com/forms/d/e/1FAIpQLSffDieMhqaIffL0luVG__kCQnivQZc9ai1rWUkQHRv2LwyWhA/viewform'>Feedback</a> |
   <a href='/tos'>Terms of Service &amp; Privacy Policy</a>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46279952-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
